.container__titulo {
    font-family: var(--fonte-secundaria);
    font-weight: 200;
    text-align: center;
    font-size: 50px;
    color: aliceblue;
    height: 100px;
    padding: 1.5em 0 0 0;
    text-shadow: 0.1em 0.1em 0.2em red;
    }

.container {
    background-color: var(--azul-header);
}

.container__vermelho {
    color: red;
}

.container__azul {
    color: blue;
}

.container__amarelo {
    color: yellow;
}

.container__verde {
    color: green;
}

.container__rosa {
    color: crimson;
}

.container__branco {
    color: aliceblue;
    padding: 0 0 0 0.3em;
}

.container__amarelo-claro {
    color: yellow;
    padding:  0 0 0 0.3em;
}


@media screen and (max-width: 414px){
    .container__titulo {
        font-size: 30px;
    }
}

@media screen and (max-width: 290px) {
    .container__titulo {
        font-size: 20px;
    }
}