.container__titulo {
    font-family: var(--fonte-secundaria);
    font-weight: 200;
    text-align: center;
    font-size: 50px;
    color: aliceblue;
    height: 100px;
    padding: 1.5em 0 0 0;
    text-shadow: 0.1em 0.1em 0.2em rgb(224, 218, 218);
    }

.container {
    background-color: var(--azul-header);
}


.container__azul-claro {
    color: rgb(88, 208, 255);
    padding: 0 0 0 0.3em;
}

.container__vermelho {
    color: red;
    padding: 0 0 0 0.3em;
}

.container__verde {
    color: green;
}

.container__amarelo {
    color: yellow;
}

.container__azul {
    color: blue;
}